.blue {
    background-color: rgb(69, 69, 69);
}
.red {
    margin: 5px;

    
}
.green {
    margin: 5px;
   
}
.black {
    width: 100%;
}
.number,
.operator,
.clear,
.equal,
.decimal{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.screen{
    width: 100%;
}
