.blue {
    background-color: rgb(243, 243, 247);
}
.red {
    margin: 5px;

    
}
.green {
    margin: 5px;
   
}
.black {
    width: 100%;
}
.button {
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.screen{
    width: 100%;
}
